{% if elementType=='asset' %}
	{% if element.getExtension()|lower in ['jpg', 'jpeg', 'gif', 'svg', 'png'] %}
	<div class="focalpointfield-wrapper">
		<img src="{{ element.getUrl({ width: 300 }) }}" width="300" title="{{ 'Click image to set focal point' | t }}" draggable="false">
	</div>
	<input type="hidden" name="{{ name }}" class="focalpointfield-field-data" value="{{ value!=null ? value : '' }}">
	{% else %}
		<span class="focalpointfield-error">{{ "This is not an image" | t }}</span>
	{% endif %}
{% else %}
	<span class="focalpointfield-error">{{ "This field type can only be used on Assets" | t }}</span>
{% endif %}
